<p>
  New invoice request
  <br />
  Course: <%= @course.name %>
  <br />
  Date: <%= @course_date.begins_at.try(:strftime, "%A %e %b %Y %H:%M") %>
  <br />
  Cost: <%= @course.cost %>
  <br />
  Organisation: <%= @invoice.organisation_name %>
  <br />
  Address:
  <br />
    <%= @invoice.address_line_1 %>
  <br />
    <%= @invoice.address_line_2 %>
  <br />
    <%= @invoice.town %>
  <br />
    <%= @invoice.county %>
  <br />
    <%= @invoice.postcode %>
  <br />
  <br />
  Telephone: <%= @invoice.telephone_no %>
</p>
