<div class="container" style="margin-top:40px;">
  <div class="col-md-2">
    <ul>
      <li><%= link_to "Back to Course <<", edit_admin_course_path(@course) %></li>
      <li><%= link_to "Add a Course Date +", new_admin_course_course_date_path() %></li>
    </ul>
  </div>
  <div class="col-md-10">
    <% if @course_dates.any? %>
      <h2> Courses Dates</h2>
      <table class="table table-striped">
        <tr>
          <th>Date and Time Course Starts</th>
          <th>Duration</th>
          <th>Spaces</th>
          <th></th>
        </tr>
        <% @course_dates.each do |course_date| %>
          <tr>
            <td><%= course_date.begins_at.try(:strftime, "%d %b %Y %H:%M") %></td>
            <td><%= course_date.duration %> Minutes</td>
            <td>(<%=course_date.spaces_left %>/<%= course_date.spaces %>)</td>
            <td>
              <% if course_date.disabled? %>
                <%= link_to "enable", enable_admin_course_course_date_path(course_date.course,course_date) %>
              <% else %>
                <%= link_to "disable", disable_admin_course_course_date_path(course_date.course,course_date) %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    <% end %>
  </div>
</div>
