<section class="news-box top-margin">
  <div class="container">
    <%= link_to "<< Back to Course", edit_admin_course_path(@course) %>
    <br/>
    <%= link_to "Add a Course Date", new_admin_course_course_date_path() %>
  </div>
</section>
<% if @course_dates.any? %>
  <section class="news-box top-margin">
    <div class="container">
      <h2> Courses Dates</h2>
      <table class="table table-striped">
        <tr>
          <th>Date and Time Course Starts</th>
          <th>Duration</th>
          <th></th>
        </tr>
        <% @course_dates.each do |course_date| %>
          <tr>
            <td><%= course_date.begins_at.try(:strftime, "%d %b %Y %H:%M") %></td>
            <td><%= course_date.duration %> Minutes</td>
            <td><%= link_to "Remove", admin_course_course_date_path(course_date.course,course_date), :method => :delete %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </section>
<% end %>
