<header id="head">
	<div class="container">
		<div class="heading-text">
			<h1 class="animated flipInY delay1">Start Your Learning Journey</h1>
			<p>Programming, Coding, Developing. Your digital journey starts here.</p>
		</div>
		<div class="fluid_container">
			<div class="camera_wrap camera_emboss pattern_1" id="camera_wrap_4">
				<div data-thumb="<%= asset_path('slides/img4.jpg') %>" data-src="<%= asset_path('slides/img4.jpg') %>">
					<h2>We develop.</h2>
				</div>
				<div data-thumb="<%= asset_path('slides/img5.jpg') %>" data-src="<%= asset_path('slides/img5.jpg') %>"></div>
				<div data-thumb="<%= asset_path('slides/img6.jpg') %>" data-src="<%= asset_path('slides/img6.jpg') %>"></div>
			</div>
		</div>
	</div>
</header>
<div class='tech_icons'>
	<div class="row">
		<div class="col-xs-2">
			<i class="fa fa-html5 fa-3x"></i>
		</div>
		<div class="col-xs-2">
			<i class="fa fa-css3 fa-3x"></i>
		</div>
		<div class="col-xs-2">
			<i class="fa fa-github fa-3x"></i>
		</div>
		<div class="col-xs-2">
			<i class="fa fa-linux fa-3x"></i>
		</div>
		<div class="col-xs-2">
			<i class="fa fa-wordpress fa-3x"></i>
		</div>
		<div class="col-xs-2">
			<i class="fa fa-apple fa-3x"></i>
		</div>
	</div>
</div>
<div class="container">
  <div class="row">
		<div class="col-md-3">
			<div class="grey-box-icon">
				<div class="icon-box-top grey-box-icon-pos">
					<%= image_tag("1.png", :alt => 'hat icon') %>
				</div>
				<h4>Courses</h4>
				<p>Our qualifications and courses are designed to address knowledge and skills required for the digital industry.</p>
				<p><a href="courses"><em>Read More</em></a></p>
			</div>
		</div>
		<div class="col-md-3">
			<div class="grey-box-icon">
				<div class="icon-box-top grey-box-icon-pos">
					<%= image_tag("2.png", :alt => 'whiteboard icon') %>
				</div>
				<h4>Our Centre</h4>
				<p>A local training environment that is friendly and comfortable and uses the same tools and technology used in the real world.</p>
				<p><a href="about"><em>Read More</em></a></p>
			</div>
		</div>
		<div class="col-md-3">
			<div class="grey-box-icon">
				<div class="icon-box-top grey-box-icon-pos">
					<%= image_tag("3.png", :alt => "book icon") %>
				</div>
				<h4>Latest Updates</h4>
				<p>Keep up-to-date with what is going on in our centre and what our staff and learners are up to.</p>
					<div class="social">
						<a href="http://www.twitter.com/alderhilldigi">
							<%= fa_icon "twitter" %>
						</a>
						<a href="http://www.facebook.com/alderhilldigi">
							<%= fa_icon "facebook" %>
						</a>
					</div>
				</p>
			</div><!--grey box -->
		</div><!--/span3-->
		<div class="col-md-3">
			<div class="grey-box-icon">
				<div class="icon-box-top grey-box-icon-pos">
					<%= image_tag("4.png", :alt => "pen icon") %>
				</div><!--icon box top -->
				<h4>Work Experience</h4>
				<p>Work experience is an important part of preparing for a career in the digital sector. We aim to give our learners the best start we can.</p>
				<p></p>
			</div><!--grey box -->
		</div><!--/span3-->
	</div>
</div>
<section class="news-box top-margin">
  <div class="container">
		<h2><span>New Courses</span></h2>
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-12">
				<div class="newsBox">
					<div class="thumbnail">
						<figure><%= image_tag("news6.png", :alt => "html5 css js icons") %></figure>
						<div class="caption maxheight2">
							<div class="box_inner">
								<div class="box">
									<p class="title"><h5>Web Design and Development</h5></p>
									<p>Web Design and Development is a level 3 certificate within the Regulated Qualifications Framework (RQF).</p>
                </div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12">
				<div class="newsBox">
					<div class="thumbnail">
						<figure><%= image_tag("news5.jpg", :alt => "linux icon") %></figure>
						<div class="caption maxheight2">
							<div class="box_inner">
								<div class="box">
									<p class="title"><h5>Getting Started with Linux</h5></p>
									<p>The most popular and widely used operating systems in the world are linux-based. A knowledge of linux is now essential for all developers.</p>
                </div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12">
				<div class="newsBox">
					<div class="thumbnail">
						<figure><%= image_tag("news8.jpg", :alt => "flow diagram") %></figure>
						<div class="caption maxheight2">
							<div class="box_inner">
								<div class="box">
									<p class="title"><h5>Building a Website</h5></p>
									<p>Do you need a website or you would just like to understand how to create and maintain a website? Sign up for the course to get started learning.</p>
                </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="container">
  <div class="row">
  	<div class="col-md-8"><div class="title-box clearfix "><h2 class="title-box_primary">About Us</h2></div>
    <p>At our training centre we provide courses in a variety of technologies and technical topics.</p>
    <p>Because we are local we a better understanding of the needs of learners from our area. Being local also enables us to have better connections with local businesses and educational institutions.</p>
		<p>Our desire is to encourage and increase the knowledge and skills in the digital sector for everyone.</p>
    <a href="about" title="read more" class="btn-inline " target="_self">read more</a> </div>
      <div class="col-md-4"><div class="title-box clearfix "><h2 class="title-box_primary">Up Coming Courses</h2></div>
        <div class="list styled custom-list">
        <ul>
        <li>Database Technologies</li>
        <li>Cyber Security</li>
        <li>iOS Development</li>
        <li>PHP Application Development</li>
        <li>Internet of Things</li>
        </ul>
        </div>
     </div>
  </div>
</section>

<% content_for :footer do %>
<script>
	jQuery(function(){

		jQuery('#camera_wrap_4').camera({
							transPeriod: 500,
							time: 3000,
			height: '500',
			loader: 'false',
			pagination: true,
			thumbnails: false,
			hover: false,
							playPause: false,
							navigation: false,
			opacityOnGrid: false,
			imagePath: 'assets/'
		});

	});

</script>
<% end %>
