<% content_for :meta_title do %>
 : Courses
<% end %>
<% content_for :meta_description do %>
 - Qualifications and courses we offer.
  <% @qualifications.collect{|qual| qual.name}.join(", ") + ' ' + @courses.collect{|qual| qual.name}.join(", ")
<% end %>
<% if @qualifications.any? %>
  <section class="news-box top-margin">
      <div class="container">
        <h2> Qualifications </h2>
        <ul class="list-group courses">
          <% @qualifications.each do |qualification| %>
            <li class="list-group-item">
              <%= link_to qualification.name, course_path(qualification) %></a>
    					<span style="white-space: nowrap;">
                <%= image_tag("fulltime.png", :alt => "full time") if qualification.full_time? %>
    					  <%= image_tag("parttime.png", :alt => "part time") if qualification.part_time?  %>
              </span>
            </li>
          <% end %>
        </ul>
      </div>
    </section>
<% end %>
<% if @courses.any? %>
  <section class="news-box top-margin">
    <div class="container">
      <h2> Courses </h2>
      <ul class="list-group courses">
        <% @courses.each do |course| %>
          <li class="list-group-item">
            <%= link_to course.name, course_path(course) %></a>
  					<span style="white-space: nowrap;">
              <%= image_tag("fulltime.png", :alt => "full time") if course.full_time? %>
  					  <%= image_tag("parttime.png", :alt => "part time") if course.part_time?  %>
            </span>
          </li>
        <% end %>
    </div>
  </section>
<% end %>
