<% content_for :meta_title do %>
 : Courses - <%= @course.name %>
<% end %>
<% content_for :meta_description do %>
 : <%= @course.name + ' - ' + @course.description %>
<% end %>
<div class="container">
  <a href="/courses"> << Back to courses </a>
  <div class="row">
    <div class="col-sm-8">
      <h2><%= @course.name %></h2>
      <% if @course.image %>
        <p>
          <%= image_tag @course.image.url(:medium) %>
          <br />
          <br />
        </p>
      <% end %>
      <% if @course.description and !@course.description.blank? %>
        <p>
          <%= @course.description.html_safe %>
        </p>
      <% end %>
      <% if @course.cost and !@course.cost.blank? %>
        <p>
          <span style="font-size:1.2em;font-family: 'Oswald', sans-serif;">Cost : </span>
          £<%= number_with_precision(@course.cost, :precision => 2) %>
        </p>
      <% end %>
      <% if @course.application_process and !@course.application_process.blank? %>
        <h2>Application</h2>
        <p><%= @course.application_process.html_safe %></p>
      <% end %>
      <% if @course.progression and !@course.progression.blank? %>
        <h2>Progression</h2>
        <p><%= @course.progression.html_safe %></p>
      <% end %>
      <% if @course.course_content and !@course.course_content.blank? %>
        <h2>Course Content</h2>
        <p><%= @course.course_content.html_safe %></p>
      <% end %>
    </div>
    <div class="col-sm-4">
      <% if @course.show_interest? %>
        <br />
        <h4> Interested? </h4>
        <p>
          If you are interested in this course and would like more information or to
          be kept up-to-date about when this course is running, please submit your email address.
        </p>
        <%= form_tag interest_course_path(@course) do %>
          <div class="input-group">
            <input type="email" class="form-control" placeholder="Email" name='email'>
            <span class="input-group-btn">
              <div class="btn-group">
                <button class="btn btn-default" type="submit">Submit</button>
              </div>
            </span>
          </div>
        <% end %>
      <% end %>
      <br />
      <% if @course.course_dates.active.any? and @course.pay_by_card? %>
        <h4> Dates<% if @course.pay_by_card? %> to Book <% end %></h4>
        <p>
          <ul>
            <% @course.course_dates.active.each do |course_date| %>
              <% if @course.pay_by_card? and course_date.spaces_left? %>
                <li><%= link_to course_date.begins_at.try(:strftime, "%A %e %b %Y %l:%M%P (#{course_date.spaces_left})"), course_course_date_path(@course,course_date) %> </li>
              <% elsif  @course.pay_by_invoice? %>
                <li><%= course_date.begins_at.try(:strftime, "%A %e %b %Y %H:%M") %> </li>
              <% else %>
                <li style="<%= 'text-decoration:line-through;' unless course_date.spaces_left? %>"><%= course_date.begins_at.try(:strftime, "%A %e %b %Y %H:%M (#{course_date.spaces_left})") %> </li>
              <% end %>
            <% end %>
          </ul>
        <p>
      <% end %>
    </div>
  </div>
</div>
