<div class="container" style="text-align:center;">
  <div class="col-md-12">
    <div class="col-md-3">
    </div>
    <div class="col-md-6 grey-panel">
      <br />
      <h2>Booking</h2>

      <% if @course.pay_by_card? and !@course.pay_by_invoice? %>
        <% if @course_date.spaces %>
          <h3><%= @course_date.spaces_left %> <%= @course_date.spaces_left != 1 ? "spaces" : "space" %> left!</h3>
        <% end %>
      <% end %>

      <p>
        <h3><%= @course.name %> on <%= @course_date.begins_at.try(:strftime, "%A %e %b %Y %l:%M%P") %></h3>
        <br />
        <br />
      </p>
      <% if @course.pay_by_card? and @course_date.spaces_left? and @course.cost and @course.cost > 0 %>
        <%= form_tag charge_course_course_date_path(@course,@course_date), :id => 'pay_form', :style => "text-align:left; margin-left:100px;" do %>
          <label for="quantity" style="width:100px;">Quantity</label>
          <input type="integer" id="quantity" name="quantity" style="width:40px;" value="1"></input>
          <br />
          <label for="discount" style="width:100px;">Discount Code</label>
          <input type="text" id="discount" name="discount" style="width250px;"></input>
          <br />
          <br />
          <button id="customButton" class="stripe-button-copy">
            <span style="display: block; min-height: 30px;">Pay by card</span>
          </button>
          or
          <%= link_to "Back", :back %>

        <% end %>
        <br />
        <% if @course.pay_by_invoice? %>
          or
          <br />
          <br />
        <% end %>
      <% end %>
      <% if @course.pay_by_invoice? %>
        <%= link_to invoice_course_course_date_path(@course,@course_date), :class => "stripe-button-copy" do %>
          <span style="display: block; min-height: 30px;">Pay by Invoice</span>
        <% end %>
      <% end %>
      <br />
    </div>
    <div class="col-md-3">
    </div>
  </div>
</div>
<% content_for :footer do %>
<script src="https://checkout.stripe.com/checkout.js"></script>
<script>
  var handler = StripeCheckout.configure({
    key: '<%= ENV['PUBLISHABLE_KEY'] %>',
    image: 'https://www.alderhilldigital.co.uk/logo-small.png',
    locale: 'auto',
    token: function(token) {
      var pay_form = document.getElementById('pay_form');
      var tokenInput = document.createElement("input");
      tokenInput.type = "hidden";
      tokenInput.name = "stripeToken";
      tokenInput.value = token.id;
      var emailInput = document.createElement("input");
      emailInput.type = "hidden";
      emailInput.name = "stripeEmail";
      emailInput.value = token.email;
      pay_form.appendChild(tokenInput);
      pay_form.appendChild(emailInput);
      pay_form.submit();
    }
  });

  document.getElementById('customButton').addEventListener('click', function(e) {
    // Open Checkout with further options:
    var quantity = parseInt(document.getElementById('quantity').value);

    if(!isNaN(quantity)){
      if(quantity > <%= @course_date.spaces_left %>){
        quantity = <%= @course_date.spaces_left %>;
        document.getElementById('quantity').value = quantity;
        alert("There are only "+quantity+" spaces left.");
      }
      var amount = <%= @course.cost * 100 %> * quantity;
    }else{
      quantity = 1;
      document.getElementById('quantity').value = quantity;
      alert("Invalid quantity. Your quantity has been reset to 1.");
      var amount = <%= @course.cost * 100 %>;
    }

    if((<%= @undiscounted_emails.to_json.html_safe %>.indexOf(document.getElementById('discount').value)) >= 0){
      amount -= 500*quantity;
    }
    console.log(amount);
    handler.open({
      name: 'Alderhill Digital',
      description: '<%= @course.name %> <%= @course_date.begins_at.try(:strftime, "(%d/%m/%Y)")%>',
      zipCode: true,
      currency: 'gbp',
      amount: amount,
      billingAddress: true,
      allowRememberMe: false
    });
    e.preventDefault();
  });

  // Close Checkout on page navigation:
  window.addEventListener('popstate', function() {
    handler.close();
  });
</script>
<% end %>
